
ion-toolbar {
  background-color: var(--ion-color-mycolor);
  text-align: center;
}

/*primera seccion*/
.scan-product{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 8px;
  margin: 20px;
}
.camera-container{
  grid-column: 1;
  grid-row: 1/3;
  height: 140px;
  width: 140px;
  background-color: #787878;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.camera-container ion-icon{
  font-size: 80px;
  color: #ffff;
}
.bar-code{
  grid-column: 2;
  grid-row: 1;
  width: 180px;
}
.stock{
  grid-column:2;
  grid-row: 2;
}
.counter-container{
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter-container ion-button{
  width: 60px;
  border-radius: 10px;
  font-weight: bold;
  font-size: medium;
}
.bar-code .stock{
  align-items: center;
  justify-content: center;
  justify-self: center;
  display: flex;
}

/*Segunda Seccion*/
.datos{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5,1fr);
  gap: 5px;
  margin: 20px;
}


.button-container{
  position: fixed;
  left: 20px; 
  right: 20px; 
  bottom: 20px;
  height: 50px;
  background-color: #93C572;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
  text-align: center;
  align-items: center;
  color: #ffff;
  font-weight: bold;
  font-size: large;
}

