<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inventario"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Botón "Agregar Producto" -->
  <div class="button-container">
    <ion-button (click)="agregarProducto()">Agregar Producto</ion-button>
  </div>

  <!-- Título "Código" encima del contenedor de texto -->
  <div class="codigo-title-container">
    <ion-label>Código Barras</ion-label>
  </div>

  <!-- Campo para ingresar el código del producto -->
  <div class="text-container">
    <ion-item>
      <ion-input placeholder="Agregar código" [(ngModel)]="codigo"></ion-input>
    </ion-item>
  </div>

  <!-- Título "Cantidad" encima del contador -->
  <div class="cantidad-title-container">
    <ion-label>Stock</ion-label>
  </div>

  <!-- Contenedor del contador -->
  <div class="counter-container">
    <ion-button class="counter-button" (click)="decreaseCounter()">-</ion-button>
    <ion-label class="counter-label">{{ counterValue }}</ion-label>
    <ion-button class="counter-button" (click)="increaseCounter()">+</ion-button>
  </div>

  <!-- Botón "Cámara" -->
  <div class="camera-container" (click)="showActionSheet()">
    <ion-icon name="camera"></ion-icon>
  </div>

  <!-- Campo para ingresar el nombre del producto -->
  <div class="name-text-container">
    <ion-item>
      <ion-input placeholder="Ingrese el nombre del producto" [(ngModel)]="nombre"></ion-input>
    </ion-item>
  </div>

  <!-- Campo para ingresar el precio unitario -->
  <div class="precio-text-container">
    <ion-item>
      <ion-input type="number" placeholder="Ingrese el precio unitario" [(ngModel)]="precioUnitario"></ion-input>
    </ion-item>
  </div>

  <!-- Campo para ingresar el costo unitario -->
  <div class="costo-text-container">
    <ion-item>
      <ion-input type="number" placeholder="Ingrese el costo unitario" [(ngModel)]="costoUnitario"></ion-input>
    </ion-item>
  </div>

  <!-- Campo para ingresar la descripción del producto -->
  <div class="descripcion-text-container">
    <ion-item>
      <ion-textarea placeholder="Escribir descripción del producto" [(ngModel)]="descripcion"></ion-textarea>
    </ion-item>
  </div>

  <!-- Título "Categoría" encima del dropdown -->
  <div class="categoria-title-container">
    <ion-label>Categoría</ion-label>
  </div>

 <!-- Dropdown para seleccionar la categoría del producto -->
 <div class="dropdown-container">
  <ion-select interface="action-sheet" [(ngModel)]="selectedOption" (ionChange)="onOptionChange($event)">
    <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id"> 
      {{ categoria.nombre }}
    </ion-select-option> 
  </ion-select>
</div>
</ion-content>
