<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab-inicial"></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva Venta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="info-cards">
    <div class="card">
      <p>Total de productos</p>
      <h2>100</h2>
    </div>
    <div class="card">
      <p>Valor total</p>
      <h2>Bs. 50.000</h2>
    </div>
  </div>

  <!-- Barra de búsqueda -->
  <ion-toolbar>
    <ion-searchbar color="light" placeholder="Buscar productos"></ion-searchbar>
  </ion-toolbar> 

  <!-- Botones de categorías -->
  <div class="category-buttons">
    <ion-button>Todos</ion-button>
    <ion-button>Categoria 1</ion-button>
    <ion-button>Categoria 2</ion-button>
  </div>

  <!-- Lista de productos -->
  <ion-list>
    <ion-item *ngFor="let producto of productos">
      <ion-avatar slot="start">
        <img [src]="producto.imagen" />
      </ion-avatar>
      <ion-label>
        <h2>{{producto.nombre}}</h2>
        <p>{{producto.disponibles}} Disponibles</p>
        <p>Precio unitario Bs {{producto.precio}}</p>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="agregarProducto(producto)">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Botón "Agregar Venta" -->
  <div class="button-container">
    <ion-button class="nuevo-producto-button" (click)="agregarVenta()">Agregar Venta</ion-button>
  </div>
</ion-content>
