<ion-content [fullscreen]="true">
  <div class="info-cards">
    <div class="card">
      <p>Total de productos</p>
      <h2>{{ totalProductosSeleccionados }}</h2> <!-- Muestra el total de productos seleccionados -->
    </div>
    <div class="card">
      <p>Valor total</p>
      <h2>Bs. {{ valorTotalSeleccionado | number: '1.2-2' }}</h2> <!-- Muestra el valor total seleccionado -->
    </div>
  </div>

  <!-- Barra de búsqueda -->
  <ion-toolbar>
    <ion-searchbar color="light" placeholder="Buscar productos"></ion-searchbar>
  </ion-toolbar> 

  <!-- Botones de categorías -->
  <div class="category-buttons">
    <ion-button>Todos</ion-button>
    <ion-button>Categoria 1</ion-button>
    <ion-button>Categoria 2</ion-button>
  </div>

  <!-- Lista de productos -->
  <ion-list>
    <ion-item *ngFor="let producto of productos">
      <ion-avatar slot="start">
        <img [src]="producto.imagen" />
      </ion-avatar>
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <p>Disponibles: {{ producto.disponibles }}</p>
        <p>Precio unitario: Bs {{ producto.precio }}</p>
        <p>Seleccionados: {{ producto.cantidadSeleccionada }}</p>
      </ion-label>
      <ion-button fill="clear" (click)="disminuirCantidad(producto)" [disabled]="producto.cantidadSeleccionada === 0">
        <ion-icon name="remove-circle-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="aumentarCantidad(producto)" [disabled]="producto.cantidadSeleccionada === producto.disponibles">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Botón "Agregar Venta" -->
  <div class="button-container">
    <ion-button class="nuevo-producto-button" [disabled]="totalProductosSeleccionados === 0" (click)="agregarVenta()">Agregar Venta</ion-button>
  </div>
</ion-content>

