<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab-inicial"></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Gasto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Monto</ion-label>
          <ion-input placeholder="Agregar un valor"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Descripcion</ion-label>
          <ion-input placeholder="Agregar un nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Método de pago</ion-label>
          <ion-select placeholder="Seleccionar método">
            <ion-select-option value="efectivo">Efectivo</ion-select-option>
            <ion-select-option value="tarjeta">Tarjeta</ion-select-option>
            <ion-select-option value="transferencia">Transferencia Bancaria</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="button-container">
    <ion-button class="nuevo-producto-button" expand="full" (click)="agregarGasto()">Agregar Gasto</ion-button>
  </div>
</ion-content>
