<ion-header>
  <ion-toolbar color="mycolor">
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="login-form">
      <h1>Iniciar Sesión</h1>
      <ion-item lines="full">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input
          type="text"
          placeholder="Ingrese su usuario"
          [(ngModel)]="usuario">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          type="password"
          placeholder="Ingrese su contraseña"
          [(ngModel)]="contrasena">
        </ion-input>
      </ion-item>
      <ion-button
        expand="block"
        class="login-button"
        (click)="login()">
        Iniciar Sesión
      </ion-button>
    </div>
  </div>
</ion-content>



