<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <div class="login-container">
    <div class="login-form">

      <!-- Logo -->
      <img src="assets/img/Logo Drakarys App.webp" alt="Drakarys Logo" class="logo" />

      <!-- Título -->
      <h2 class="title">Empecemos el Día</h2>

      <!-- Subtítulo -->
      <p class="subtitle">
        Ingresa tu Usuario y Contraseña para Iniciar Sesión
      </p>

      <!-- Input Usuario -->
      <ion-item lines="none" class="input-item">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input
          placeholder="Ingrese su Usuario"
          [(ngModel)]="usuario">
        </ion-input>
      </ion-item>

      <!-- Input Contraseña -->
      <ion-item lines="none" class="input-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input
          type="password"
          placeholder="Ingrese su Contraseña"
          [(ngModel)]="contrasena">
        </ion-input>
        <ion-icon name="eye-off-outline" slot="end"></ion-icon>
      </ion-item>

      <p *ngIf="errorMsg" class="error-message">{{ errorMsg }}</p>

      <!-- Botón -->
      <ion-button expand="block" class="login-button" (click)="login()">
        Iniciar Sesión
      </ion-button>

    </div>
  </div>
</ion-content>




