<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-button [id]="'usuarioPopoverTriggerDeuda'">
        <ion-icon name="person-circle" slot="start" size="large"></ion-icon>
        <ion-label>{{ nombreUsuario }}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-popover trigger="usuarioPopoverTriggerDeuda" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">
      <ion-item button (click)="cerrarSesion()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-content [fullscreen]="true">
  <div class="user-info">
    <div class="info-cards">
      <div class="card">
        <p>Por cobrar</p>
        <h2>Bs {{ totalPorCobrar }}</h2>
        <p>{{ cantidadClientesConDeuda }} clientes</p>
      </div>
    </div>
  </div>

  <ion-toolbar>
    <ion-searchbar
      color="light"
      placeholder="Buscar deudas"
      [(ngModel)]="textoBusqueda"
      (ionInput)="buscarDeudas($event)">
    </ion-searchbar>
  </ion-toolbar>

  <div class="cliente-lista-scroll">
    <ion-list>
      <div *ngFor="let cliente of clientesFiltrados">
        <ion-item button (click)="toggleMenu(cliente.id)">
          <ion-avatar slot="start" class="cliente-avatar">
            <ion-icon name="person-circle"></ion-icon>
          </ion-avatar>

          <ion-label>
            <h2>
              {{ cliente.nombreCliente ? cliente.nombreCliente : ('Cliente #' + cliente.clienteId) }}
            </h2>

            <p *ngIf="cliente.descripcion">
              {{ cliente.descripcion }}
            </p>

            <p>Total: Bs. {{ cliente.total }}</p>
            <p>Pagado: Bs. {{ cliente.montoPagado }}</p>
            <p>Saldo: Bs. {{ cliente.montoFaltante }}</p>
          </ion-label>
        </ion-item>

        <div class="menu-desplegable" *ngIf="selectedCliente === cliente.id">
          <p>Monto Pagado: {{ cliente.montoPagado }} Bs.</p>
          <p>Monto Faltante: {{ cliente.montoFaltante }} Bs.</p>

          <p *ngIf="cliente.montoFaltante <= 0 || cliente.estado === 'pagada'">
            Deuda pagada
          </p>

          <ion-item lines="none">
            <ion-label>Tipo de pago</ion-label>
            <ion-select
              [(ngModel)]="tipoPagoId"
              placeholder="Seleccionar"
              [disabled]="cliente.montoFaltante <= 0 || cliente.estado === 'pagada'">
              <ion-select-option *ngFor="let t of tiposDePago" [value]="t.tipo_pago_id">
                {{ t.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-input
            [(ngModel)]="pago"
            type="number"
            placeholder="Agregar monto a pagar"
            [disabled]="cliente.montoFaltante <= 0 || cliente.estado === 'pagada'">
          </ion-input>

          <p
            class="error-limite"
            *ngIf="cliente.montoFaltante > 0
              && cliente.estado !== 'pagada'
              && pago
              && toNumber(pago) > cliente.montoFaltante">
            El monto ingresado supera el saldo de la deuda.
          </p>

          <ion-button
            (click)="pagar(cliente)"
            [disabled]="cliente.montoFaltante <= 0
              || cliente.estado === 'pagada'
              || (pago && toNumber(pago) > cliente.montoFaltante)">
            Pagar
          </ion-button>
        </div>
      </div>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-button class="crear-deuda-button" (click)="crearDeuda()">
      Nueva Deuda
    </ion-button>
  </ion-fab>
</ion-content>