<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-button (click)="cancelar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear Deuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Cliente</ion-label>
    <ion-select [(ngModel)]="clienteId" placeholder="Seleccionar cliente">
      <ion-select-option *ngFor="let c of clientes" [value]="c.cliente_id">
        {{ c.nombre }} {{ c.apellido }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!--selector para Deuda / Préstamo -->
  <ion-item>
    <ion-label position="stacked">Tipo</ion-label>
    <ion-select [(ngModel)]="tipoOperacion" placeholder="Seleccionar tipo">
      <ion-select-option value="deuda">Deuda (no afecta caja)</ion-select-option>
      <ion-select-option value="prestamo">Préstamo (descuenta de caja)</ion-select-option>
    </ion-select>
  </ion-item>

  <!--Tipo de pago SOLO para Préstamo -->
  <ion-item *ngIf="tipoOperacion === 'prestamo'">
    <ion-label position="stacked">Tipo de pago</ion-label>
    <ion-select [(ngModel)]="tipoPagoId" placeholder="Seleccionar tipo de pago">
      <ion-select-option *ngFor="let tp of tiposDePago" [value]="tp.tipo_pago_id">
        {{ tp.nombre }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-textarea [(ngModel)]="descripcion" placeholder="Ej: Préstamo, producto fiado..."></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Total deuda (Bs.)</ion-label>
    <ion-input [(ngModel)]="totalDeuda" type="number" placeholder="0"></ion-input>
  </ion-item>

  <div class="acciones">
    <ion-button expand="block" class="btn-guardar" (click)="guardarDeuda()">Guardar</ion-button>
    <ion-button expand="block" fill="outline" class="btn-cancelar" (click)="cancelar()">Cancelar</ion-button>
  </div>

</ion-content>