.acciones {
  margin-top: 20px;
}

.btn-guardar {
  --border-radius: 69px;
  --background: #93C572;
  --color: #ffffff;
  font-weight: bold;
}

.btn-cancelar {
  --border-radius: 69px;
  font-weight: bold;
}
