<ion-header>
  <ion-toolbar color="mycolor" class="top-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/preview"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="metodo-pago-content">
  <div class="metodo-pago-container">
    <div class="metodo-pago-card">
      <div class="metodo-pago-header">
        <span class="metodo-pago-titulo">SELECCIÓN DE MÉTODOS DE PAGO</span>
      </div>

      <div class="metodo-pago-formulario">
        <ion-item lines="none" class="input-item">
          <ion-label position="stacked">Efectivo</ion-label>
          <ion-input
            type="number"
            min="0"
            [(ngModel)]="montoEfectivo">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-label position="stacked">Transferencia</ion-label>
          <ion-input
            type="number"
            min="0"
            [(ngModel)]="montoTransferencia">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-label position="stacked">Tarjeta</ion-label>
          <ion-input
            type="number"
            min="0"
            [(ngModel)]="montoTarjeta">
          </ion-input>
        </ion-item>
      </div>

      <div class="resumen-pago">
        <div class="resumen-item">
          <span>Total venta</span>
          <strong>Bs. {{ venta.totalVenta }}</strong>
        </div>

        <div class="resumen-item">
          <span>Total ingresado</span>
          <strong>Bs. {{ totalPagado }}</strong>
        </div>

        <div class="resumen-item">
          <span>Diferencia</span>
          <strong>Bs. {{ diferencia }}</strong>
        </div>

        <div class="resumen-item resumen-cliente">
          <span>Cliente</span>
          <strong>
            {{ venta.cliente ? (venta.cliente.nombre + ' ' + venta.cliente.apellido) : '' }}
          </strong>
        </div>
      </div>
    </div>
  </div>

  <div class="acciones-inferiores">
    <ion-button class="confirmar-pago-button" (click)="confirmarVenta()">
      Confirmar Venta
    </ion-button>
  </div>
</ion-content>