<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title><strong>Recibo</strong></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Iteramos sobre los productos seleccionados -->
      <ion-list>
        <ion-item *ngFor="let producto of recibo.productos">
          <ion-label>
            <h2><strong>
              {{ producto.producto?.nombre || producto.descripcion || producto.nombre }}
            </strong></h2>
            <p *ngIf="producto.cantidad">Cantidad: {{ producto.cantidad }}</p>
            <p *ngIf="producto.precio_unitario">Precio Unitario: Bs. {{ producto.precio_unitario }}</p>
            <p *ngIf="producto.subtotal">Subtotal: Bs. {{ producto.subtotal }}</p>
          </ion-label>
        </ion-item>
        
      </ion-list>

      <ion-item>
        <ion-label>Total de Venta</ion-label>
        <ion-note slot="end">Bs. {{ recibo.totalVenta }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Método de Pago</ion-label>
        <ion-note slot="end">{{ recibo.metodoPago }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Fecha de Venta</ion-label>
        <ion-note slot="end">{{ recibo.fechaVenta }}</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="irABalance()">Listo</ion-button>
</ion-content>
