<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recibo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Iteramos sobre los productos seleccionados -->
      <ion-list>
        <ion-item *ngFor="let producto of recibo.productos">
          <ion-label>
            <h2>{{ producto.nombre }}</h2>
            <p>Cantidad: {{ producto.cantidadSeleccionada }}</p>
            <p>Precio Unitario: Bs. {{ producto.precio }}</p>
            <p>Subtotal: Bs. {{ producto.cantidadSeleccionada * producto.precio }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label>Total de Venta</ion-label>
        <ion-note slot="end">Bs. {{ recibo.totalVenta }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Método de Pago</ion-label>
        <ion-note slot="end">{{ recibo.metodoPago }}</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="irABalance()">Listo</ion-button>
</ion-content>
