ion-toolbar {
    background-color: var(--ion-color-mycolor);
  }
  
  .opciones-container {
    padding: 16px;
    ion-item {
      --background: #EDF2FA; // Fondo de las opciones
      border-radius: 15px;
      margin-bottom: 10px;
      ion-label {
        font-weight: bold;
      }
    }
  }
  
  .cerrar-sesion-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    ion-button {
      --background: red; // Fondo del botón de cerrar sesión
      --border-radius: 20px; // Borde redondeado
      --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      color: white;
      font-weight: bold;
    }
  }
  