<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Opciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="opciones-container">
    <ion-list>
      <ion-item button>
        <ion-label>Versión Web</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item button>
        <ion-label>Soporte técnico</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  
  <div class="cerrar-sesion-container">
    <ion-button expand="block" color="danger" shape="round">Cerrar Sesión</ion-button>
  </div>
</ion-content>