<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Usuario e información general -->
  <div class="user-info">
    <div class="user-details">
      <ion-icon name="person-circle" size="large"></ion-icon>
      <span>Drakarys Vape Store</span>
    </div>
    <div class="info-cards">
      <div class="card">
        <p>Total de productos</p>
        <h2>{{ productos.length }}</h2>
      </div>
      <div class="card">
        <p>Valor total</p>
        <h2>Bs. {{ calcularValorTotal() }}</h2>
      </div>
    </div>
  </div>

  <!--Barra de búsqueda + cámara -->
  <ion-toolbar>
    <ion-item lines="none" class="search-row">
      <ion-searchbar
        color="light"
        placeholder="Buscar productos"
        [(ngModel)]="textoBusqueda"
        (ionInput)="buscarProductos($event)">
      </ion-searchbar>

      <ion-button fill="clear" class="scan-btn" (click)="abrirScanner()">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>

  <!-- Botones de categorías -->
  <div class="category-buttons" style="padding: 10px; display: flex; flex-wrap: wrap; gap: 6px;">
    <ion-button [color]="categoriaSeleccionada === null ? 'primary' : 'light'" (click)="filtrarPorCategoria(null)">
      Todos
    </ion-button>
    <ion-button *ngFor="let cat of categorias"
                [color]="categoriaSeleccionada === cat.categoria_id ? 'primary' : 'light'"
                (click)="filtrarPorCategoria(cat.categoria_id)">
      {{ cat.nombre }}
    </ion-button>
  </div>

  <!-- Lista de productos -->
  <ion-list>
    <ion-item button *ngFor="let producto of productosFiltrados" (click)="verDetalleProducto(producto)">
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <p>{{ producto.stock }} Disponibles</p>
        <p>Precio unitario Bs {{ producto.precio }}</p>
      </ion-label>
      <ion-thumbnail slot="end">
        <img [src]="producto.imagen" />
      </ion-thumbnail>
    </ion-item>
  </ion-list>

  <!-- Botón "Nuevo Producto" -->
  <div class="button-container">
    <ion-button class="nuevo-producto-button" (click)="agregarNuevoProducto()">Nuevo Producto</ion-button>
  </div>

  <!-- Modal Scanner -->
  <ion-modal
    [isOpen]="scannerAbierto"
    (didPresent)="iniciarLectura()"
    (didDismiss)="cerrarScanner()">
    <ng-template>
      <ion-header>
        <ion-toolbar color="mycolor">
          <ion-title>Escanear código</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarScanner()">
              Cerrar
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="scanner-content">
        <div class="scanner-box">
          <video #videoScanner class="scanner-video" autoplay playsinline></video>
          <p class="scanner-text">Apunta al código de barras</p>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>