ion-toolbar {
  background-color: var(--ion-color-mycolor);
}

ion-header {
  ion-toolbar {
    --background: #001E87;
    color: white;

    ion-title, ion-icon, ion-button {
      color: white;
    }
  }

  ion-segment {
    --background: #001E87;
    ion-segment-button {
      --color-checked: white;
      --indicator-color: white;
      color: white;
    }
  }

  ion-icon {
    color: white;
  }
}

body{
  padding: 20px;
}

.balance-container {
  padding: 16px;
  .balance-card {
    background-color: #EDF2FA;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    .balance-header {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
    }
    .balance-details {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
      font-weight: bold;
      .balance-income, .balance-expense {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          display: block;
        }
      }
      .balance-expense {
        color: red;
      }
    }
  }
}

.balance-segment {
  margin-top: 32px;
}

.balance-segment-button {
  margin: 0 8px;
  --background: var(--ion-color-light);
  &.segment-checked {
    background-color: var(--ion-color-primary);
    color: #001E87;
    border-radius: 45%;
  }
}

ion-list {
  margin-top: 16px;
  ion-item {
    --background: #EDF2FA;
    margin: 8px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    ion-label h2 {
      font-size: 16px;
      font-weight: semi-bold;
    }
    ion-label p {
      font-size: 14px;
      color: #607389;
      font-weight: bold;
    }
    strong {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

ion-fab-button {
  --background: var(--ion-color-primary);
}

ion-fab-list ion-fab-button {
  --background: white;
  --color: black;
  --border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  ion-icon {
    margin-right: 8px;
  }
  ion-label {
    font-weight: bold;
  }
}

ion-fab-list {
  position: absolute;
  bottom: 70px;
}

.balance-header {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

.balance-details {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  .balance-income, .balance-expense {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      display: block;
    }
  }

  .balance-divider {
    width: 1px;
    background-color: #ccc;
    margin: 0 16px;
  }

  .balance-expense {
    color: red;
  }
}

.balance-segment-button-ingresos{
  border-radius: 15px;
  background-color: green;
  color: white;
  font-weight: bold;
  display: flex;
  margin: 0 8px;
}

.balance-segment-button-egresos{
  border-radius: 15px;
  background-color: red;
  color: white;
  font-weight: bold;
  margin: 0 8px;
}

iion-modal.calendar-modal {
  --background: #fff;
  --border-radius: 30px;
  --box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-segment-button.selected-date {
  font-weight: bold;
  background-color: #0327aa;
  border-radius: 15px;
  height: 5px;
}

.cierre-caja-container {
  text-align: center;
  margin-top: 10px;
}

.cierre-caja-container ion-button {
  --background: #001E87;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 8px 16px;
}

/* saldo inicial dentro del recuadro */
.balance-saldo-inicial{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}
