<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-button [id]="'usuarioPopoverTrigger'">
        <ion-icon name="person-circle" slot="start" size="large"></ion-icon>
        <ion-label>{{ nombreUsuario }}</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="mostrarCampoBusqueda = !mostrarCampoBusqueda">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

<ion-toolbar color="mycolor">
    <ion-segment scrollable [(ngModel)]="selectedDay" (ionChange)="onDaySelected(selectedDay)">
      <ion-segment-button *ngFor="let day of days" [value]="day">
        {{ day }}
      </ion-segment-button>
    </ion-segment>    
    <ion-buttons slot="end">
      <ion-button id="abrirCalendario">
        <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="mostrarCampoBusqueda" color="light">
    <ion-searchbar
      placeholder="Buscar ventas o gastos..."
      [(ngModel)]="textoBusqueda"
      (ionInput)="filtrarItems()"
      debounce="300">
    </ion-searchbar>
  </ion-toolbar>
  
</ion-header>

<ion-popover trigger="usuarioPopoverTrigger" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">
      <ion-item button (click)="cerrarSesion()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Balance</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="balance-container">
    <div class="balance-card">
      <div class="balance-header">
        <span>BALANCE</span>
        <span [ngStyle]="{ color: balance < 0 ? 'red' : 'black' }">
        BS. {{ balance | number: '1.2-2' }}
      </span>
      </div>
      <div class="balance-details">
        <div class="balance-income">
          <ion-icon name="wallet-outline"></ion-icon>
          <span>INGRESOS</span>
          <span>BS. {{ totalIngresos | number: '1.2-2' }}</span>
        </div>
        <div class="balance-divider"></div> <!-- Divisor -->
        <div class="balance-expense">
          <ion-icon name="cash-outline" color="danger"></ion-icon>
          <span>EGRESOS</span>
          <span>BS. {{ totalEgresos | number: '1.2-2' }}</span>
        </div>
      </div>
    </div>
    <ion-segment class="balance-segment">
      <ion-segment-button class="balance-segment-button-ingresos" (click)="mostrarIngresos()">
        <ion-label>Ingresos</ion-label>
      </ion-segment-button>
      <ion-segment-button class="balance-segment-button-egresos" (click)="mostrarEgresos()">
        <ion-label>Egresos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list>
    <ion-item *ngFor="let item of filteredItems" (click)="verRecibo(item)">
      <ion-avatar slot="start">
        <ion-icon name="bag-handle-outline" style="color: #6A5ACD;"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{ item.nombre }}</h2>
        <p *ngIf="item.descripcion">{{ item.descripcion }}</p>
      </ion-label>
      <div slot="end">
        <strong>Bs. {{ item.precio }}</strong>
      </div>
    </ion-item>
  </ion-list>
  
  <ion-item
  *ngIf="vistaActual === 'ingresos' && filteredItems.length === 0"
  lines="none"
  class="ion-text-center ion-padding">
  <strong>No se registraron ventas</strong>
</ion-item>

<ion-item
  *ngIf="vistaActual === 'egresos' && filteredItems.length === 0"
  lines="none"
  class="ion-text-center ion-padding"
>
  <strong>No se registraron gastos</strong>
</ion-item>


  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-button fill="clear" style="--border-radius: 69px; --background: #93C572; --box-shadow: none; color: #fff;"
                 (click)="goToNuevaVentaPage()">
        <ion-icon slot="icon-only" name="cart-outline" style="color: inherit;"></ion-icon>
        <ion-label style="font-weight: bold;">Nueva venta</ion-label>
      </ion-button>
      <ion-button fill="clear" style="--border-radius: 69px; --background: #D70000; --box-shadow: none; color: #fff;"
                 (click)="goToNuevoGastoPage()">
        <ion-icon slot="icon-only" name="cash-outline" style="color: inherit;"></ion-icon>
        <ion-label style="font-weight: bold;">Nuevo gasto</ion-label>
      </ion-button>
    </ion-fab-list>
  </ion-fab>
  
</ion-content>

<ion-modal #modalCalendario trigger="abrirCalendario" [presentingElement]="presentingElement">
  <ng-template>
    <ion-header>
      <ion-toolbar color="mycolor">
        <ion-title>Selecciona una fecha</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modalCalendario.dismiss()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-datetime
        presentation="date"
        [value]="fechaActualISO"
        (ionChange)="seleccionarFechaDesdeCalendario($event); modalCalendario.dismiss();"
        class="ion-padding"
        style="width: 100%; max-width: 100%; height: 100%;">
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>
