<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Balance</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar color="light" placeholder="Light" show-cancel-button="focus" placeholder="Show on Focus" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>    
</ion-header>

<ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-button fill="clear" style="--border-radius: 69px; --background: #93C572; --box-shadow: none; color: #fff;"
                 (click)="goToNuevaVentaPage()">
      <ion-icon slot="icon-only" name="cart-outline" style="color: inherit;"></ion-icon>
      <ion-label style="font-weight: bold;">Nueva venta</ion-label>
    </ion-button>
    <ion-button fill="clear" style="--border-radius: 69px; --background: #D70000; --box-shadow: none; color: #fff;">
      <ion-icon slot="icon-only" name="cash-outline" style="color: inherit;"></ion-icon>
      <ion-label style="font-weight: bold;">Nuevo gasto</ion-label>
    </ion-button>
  </ion-fab-list>
</ion-fab>





<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Balance</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
