ion-tab-bar {
  --background: var(--ion-color-mycolor2);
  --color: #ffffff;
  --color-selected: var(--ion-color-selected);
  background: var(--ion-color-mycolor2);
}

ion-tab-button {
  --color: #ffffff;
  --color-selected: var(--ion-color-selected);
}

ion-tab-button ion-icon,
ion-tab-button ion-label {
  color: #ffffff;
}

ion-tab-button.selected {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

ion-tab-button.selected ion-icon,
ion-tab-button.selected ion-label {
  color: var(--ion-color-selected);
}